<form onsubmit="window.location = 'http://localhost:8080/api/productos/' + id.value; return false;">
    <h2>Ingresa el ID de un producto</h2>
    <input id="id" type="text" name="id" placeholder="Ingrese ID del producto">
    <input type="submit" value="Buscar">
</form>